body {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      color: rgb(255, 255, 255);
      font-family: "Nunito", sans-serif;
      text-align: center;
    }

html {
  font-family: Nunito, sans-serif;
}

.wakelock-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  user-select: none;
}

.wakelock-toggle input {
  margin-right: 5px;
}

    .weekday {
      font-size: 6rem;
      font-weight: bold;
    }

    .daytime {
      font-size: 6rem;
      margin-top: 0.3rem;
      font-weight: bold;
    }


    .date {
      font-size: 4rem;
      margin-top: 0.5rem;
    }

    .time {
      font-size: 6rem;
      margin-top: 1.5rem;
      font-weight: bold;
    }